html,
body {
    background: white;
    color: black;
}

.dark body {
    background: #111;
    color: white;
}

.brand-color {
    color: #d4af35;
}

/* Marquee animation */

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 30s linear infinite;
}

.filter-active {
    border-bottom: 2px solid #d4af35;
    color: #d4af35;
}